* {
    margin: 0;
    padding: 0;
}

.float {
    float: left;
    margin: 20px;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
}

.clear {
    clear: left;
    margin: 10px;
    background-color:bisque;
}